model:
  weights: yolov8n.pt
  device: 0
  imgsz: 640
tracking:
  conf: 0.25
  iou: 0.45
  max_det: 1000
  tracker_config: configs/tracker/bytetrack.yaml
roi:
  path: data\rois\ec.json
  enable: true
  mode: yolo_gen
  yolo_gen:
    model: weights/lane_seg.pt
    class_id: 0
    conf: 0.5
    show: true
events:
  min_frames_in: 5
  min_frames_out: 5
render:
  show_tracks: true
  show_footpoints: true
data:
  videos_dir: data/videos
  rois_dir: data/rois
outputs:
  root: data/outputs
  video_filename: ec_vis.mp4
  csv_filename: ec.csv
  clip_dir: clips
  clip_pre_seconds: 1.0
  clip_post_seconds: 1.0
